body {
    background: #007fcf;
}

h1 {
   color: green;

}

p {
    width: 300px;
    color: black;
}

#container {
    background: rgb(101, 160, 197);
    width: 800px;
    margin: 10px auto;
    font-family: sans-serif;
    padding: 10px;
}

.relative {
     
    border: 1px solid green;
    position: relative;
    /* 
    top: 20px;
    left: 80px;
    top, rigth, botom, left
    right: 50px;*/
    bottom: 0px;

}



