/*
ul{
    border: 2px solid black;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    padding: 5px 20px;
    border: 1px solid black;
    background: url(../HTML/imagens/menu_vertical/seta.png) no-repeat left center;

}
*/

body{
    background-color: black;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
}

h1{
    text-align: center;
    font-size: 40px;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

ul a {
    width: 200px;
    height: 40px;
    display: block;
    color: white;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    /*background: url(../HTML/imagens/menu_vertical/menu.png) no-repeat left bottom;*/
    background: rgb(12, 218, 12);
}

a:hover{
    /*background-position: right bottom;*/
    background: rgb(4, 133, 4) ;
    color: black;

}

