body{
    background-color: black;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
}

h1{
    text-align: center;
    font-size: 40px;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

ul a {
    width: 200px;
    height: 40px;
    display: block;
    color: white;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    /*background: rgb(12, 218, 12) url(../HTML/imagens/menu_vertical/menu.png) no-repeat left bottom;*/
    background: rgb(12, 218, 12);
}

a:hover {
    background-position: right bottom;
    background: rgb(4, 133, 4);
    color: black;

}

#home #navegacao .home, 
#sobre #navegacao .sobre, 
#servicos #navegacao .servicos{
    background-position: right bottom;
    background: rgb(4, 133, 4);
    color: black;

}