:root {
    --primary-color: rgb(25, 97, 126);
    --primary-color-dark:rgb(8, 50, 66);
    --fonts: @import url('https://fonts.googleapis.com/css2?family=League+Gothic:wdth@75&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    background: var(--primary-color);
    margin: 0;
    padding: 0;
    font-family: var(--fonts), 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}

.container {
    max-width: 650px;
    background: white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 2px 0px 35px black;
}

h1 {
    text-align: center;
    
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    
}

form input {
    font-size: 24px;
    height: 35px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
    border: none;
    border-radius: 5px;

}

.container h1 {
    text-align: center;
    margin-bottom: 40px;
}

.cpf-gerado {
    border:  1px solid white;
    width: 320px;
    height: 60px;
    background-color: rgb(49, 200, 226);
    border-radius: 5px;
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
    font-weight: bold;
    letter-spacing: 5px;
}