body {
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    font-family: "Poppins", sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(212, 209, 209, 0.3);
    text-align: center;
    backdrop-filter: blur(10px);
    
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    margin: 15px 0;
    text-align: left;
    
}

label {
    font-size: 14px;
    font-weight: 600;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: #00c853;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #00a844;
}

.resultado {
    margin-top: 25px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: none;
}