body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: white;
}

/*id container*/
#container {
    width: 85%; /*720px*/
    margin: 0 auto;
    background: #fff;
    min-width: 720px;
    max-width: 1280px;
}

/*id marca*/
#marca {
    height: 100px;
    background: rgb(7, 150, 175);
    text-align: center;
    line-height: 100px;
    font-size: 3em;
   
}

/*id conteudo*/
#conteudo {
    width: 75%;/*520px -> 75*/
    float: right;
}

/*Formatando o conteudo principal*/
#conteudo-principal {
    width: 63%;/*320px -> 64*/
    float: left;

}
/*Formatando o conteudo secundario*/
#conteudo-secundario {
    width: 34%;/*180px -> 36*/
    float: right;
    background:rgb(175, 227, 241);

}

/*Formatando as tags do conteudo secundario*/
#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
    padding-left: 20px;
    padding-right: 20px;

}

/*id navegação*/
#navegacao {
    width: 23%; /*180px -> 25*/
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background:rgb(7, 150, 175);

}

/*Formantando a ul que esta dentro da navegacao*/
#navegacao ul {
    list-style: none;

}

/*Formantando itens da lista que está dentro da navegacao*/
#navegacao li a {
    text-decoration: none;
    display: block;
    color: white;
    line-height: 30px;
    text-indent: 35px;
    background: rgb(7, 150, 175);

}

/*Formantando links na ul que está dentro da navegacao*/
#navegacao ul a:hover{
    background: white;
    color: rgb(4, 70, 82);
}


/*id rodape*/
#rodape{
    clear: both;
    background: rgb(7, 150, 175) ;
    padding: 5px;

}