:root {
    --primary-color: rgb(25, 97, 126);
    --primary-color-dark:rgb(8, 50, 66);
    --fonts: @import url('https://fonts.googleapis.com/css2?family=League+Gothic:wdth@75&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    background: var(--primary-color);
    margin: 0;
    padding: 0;
    font-family: var(--fonts), 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}

.container {
    max-width: 650px;
    background: white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 2px 0px 35px black;
}

h1 {
    text-align: center;
    
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    
}

form input {
    font-size: 24px;
    height: 35px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
    border: none;
    border-radius: 5px;

}

button {
    height: 35px;
    background: var(--primary-color);
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 22px;
    color: white;
    box-shadow: 1px 6px 15px black;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin-top: 40px;
}

button:hover{
    background: rgba(10, 201, 99, 0.788);
    color: white;
    
}

.senha-gerada {
    font-size:  2em;
    color: rgb(87, 199, 43);
    width: 550px;
    height: 80px;
    margin: 0 auto;
    
}

input[type="number"] {
    height: 25px;
    text-align: center;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

