
#caixa {
    width: 300px;
    height: 300px; 
    /*background: url(../imagens/camera.png);*/
    /*
    background: linear-gradient(to top, red, green);
    background: linear-gradient(100deg, red, green, yellow);
    */
    -webkit-background: radial-gradient(red, green, yellow);
    -moz-background: radial-gradient(red, green, yellow);
    -o-background: radial-gradient(red, green, yellow);
    background: radial-gradient(red, green, yellow,red, orange);


}

#caixa p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;

}

/*
#caixa p  {
    color:white;
    
}*/

/*
#caixa h1 {
    /*Ultimo valor e a de transparencia ou opacidade
    background: rgba(255, 255, 255, 0.4);

}
*/